.DS_Store
._*
.idea/
.pytest_cache

test*.py
docs/superpowers/*
/tests

gscore_runtime
gsuid_core/data/
gsuid_core/gsuid_core/plugins/
napcat/config/*
napcat/qq_config/*
/.env
/compose.yaml
/astrbot/.env
astrbot/data/*
nonebot/app/.env
backup
ams.md
